
<div class="container">
<div class="jumbotron">
<h1>Welcome</h1>
<h2>Angular & Bootstrap Demo</h2>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">States</div>
        <div class="panel-body">
            <div>
                <h3>{{title}}</h3>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="states">States</label>
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle btn-wrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select States <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let s of states"><a><input type="checkbox" [checked]="isChecked(s.id)" (change)="onChangeStates($event.target.checked, s)" value="{{s.id}}"> {{s.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Selected States</label>
                        <div class="form-group">{{ concatenatedStates }}</div>
                    </div>
                </div>

            </div>


            <div>
                <h3>Single Select Dropdowns</h3>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="state">State</label>
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default active" disabled aria-haspopup="true" aria-expanded="false">
                                    <div *ngIf="(undefined !==selectedState); else undef;">{{selectedState.name}}</div>
                                    <ng-template #undef>Select State</ng-template>
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span *ngIf="(undefined !==selectedState);">{{selectedState.abbreviation}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pre-scrollable">
                                    <li *ngFor="let s of states" role="presentation">
                                        <a role="menuitem" tabindex="-1" href="#" (click)="selectState(s)">{{s.abbreviation}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



